<div class="intro">
    <h4>简介</h4>
    <hr/>
    <p>
        <img class="avatar" src="{{ site.static_url }}/head.jpg"/>
        Nickname:dingyinwu<br>
        Birthdate:1993-4-25<br>
        School:Zhejiang University Of Technology<br>
        Email:<a href="mailto:dingyinwu81@126.com">leqinde@163.com</a><br>
    </p>
    <a href="https://github.com/BlackYHawk"><img class="icon" src="{{ site.static_url }}/github_icon.png" title="Github"/></a>
    <a href="http://weibo.com/u/2372252464"><img class="icon" src="{{ site.static_url }}/weibo_icon.png" title="微博" /></a>

</div>

<!-- other sites -->

<!-- end -->
