<div class="intro">
    <h4>简介</h4>
    <hr/>
    <p>
        <img class="avatar" src="/dyw/assets/images/me.jpg"/>
        Nickname:dingyinwu<br>
        Birthdate:1993-4-25<br>
        School:Renmin University of China<br>
        Email:<a href="mailto:dingyinwu81@126.com">dingyinwu81@126.com</a><br>
    </p>
    <a href="https://github.com/dingyinwu81"><img class="icon" src="{{ site.static_url }}/github_icon.png" title="Github"/></a>
    <a href="http://weibo.com/u/6049868849" target="_Blank"><img class="icon" src="{{ site.static_url }}/weibo_icon.png" title="微博" /></a>

</div>

<!-- other sites -->

<!-- end -->
